<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mngh.tuanvn.fbvideodownloader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:required="false" android:name="android.hardware.faketouch"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/fbdownloader_ic"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name=".runningService"/>
        <activity android:name=".ShowAds"/>
        <activity
            android:name="com.mngh.tuanvn.fbvideodownloader.Browser"
            android:label="@string/browser"
            android:parentActivityName="com.mngh.tuanvn.fbvideodownloader.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mngh.tuanvn.fbvideodownloader.MainActivity"
            android:label="@string/title_activity_video_display"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.mngh.tuanvn.fbvideodownloader.VideoPlayerActivity"
            android:label="@string/title_activity_video_display"
            android:parentActivityName="com.mngh.tuanvn.fbvideodownloader.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mngh.tuanvn.fbvideodownloader.PresentationActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:noHistory="true">
        </activity>
        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>